body {
  background-color: rgb(255, 211, 128);
  text-align: center;
  font-family: "New Times Roman", Times, serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

img {
  width: 450px;
  height: 450px;
}

span.price {
  color: black;
  background-color: rgb(255, 131, 110);
  padding: 5px;
  border-radius: 5px;
  text-align: unset;
}

.select-burger {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 250px;
  height: 50px;
}


.select-shok {
  border: none;
  appearance: none;
  padding: 0px 30px 0px 15px;
  width: 100%;
  color: rgb(220, 21, 21);
  background-color: rgb(2, 51, 49);
}